<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>ManageEmployeesApp - Dashboard</title>

    {% if success %}

    <div class="success-message">
        {{ success }}
    </div>

{% endif %}

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >

    <a
    href="/employees/"
    class="button"
       >
        View Employees
    </a>

    <a
        href="/employees/create"
        class="button"
    >
        Create Employee
    </a>

</head>

<body>

    <main class="dashboard-container">

        <section class="dashboard-card">

            <h1>ManageEmployeesApp</h1>

            <h2>
                Welcome, {{ username }}!
            </h2>

            <p>
                You are successfully authenticated.
            </p>


            <form
                id="logout-form"
                method="POST"
                action="/logout"
            >

                <button
                    id="logout-button"
                    type="submit"
                >
                    Logout
                </button>

            </form>

        </section>

    </main>

</body>

</html>